.cta {
    width: 100%;
    padding: 90px 0;
    margin-top: 80px;

    background-image: url("https://cdn.vectorstock.com/i/500p/07/09/psychedelic-yellow-retro-zebra-or-tiger-pattern-vector-56400709.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.cta-container {

    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.cta-left {

    flex: 1;

}

.cta-subtitle {

    display: block;
    color: #222;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.cta-left h2 {

    color: #111;
    font-size: 60px;
    line-height: 1.1;
    font-family: Georgia, serif;
    margin-bottom: 25px;

}

section {
    padding: 70px 0;
}

.cta-left p {

    line-height: 1.8;
    font-size: 18px;
    max-width: 650px;
    color: #111
}

.cta-right {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.cta-btn {
    background: #fff;
    color: #111;
    border: none;
    padding: 18px 38px;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.cta-btn:hover {
    background: #111;
    color: #fff;
}


.cta-btn-outline {

    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .4);
    padding: 18px 38px;
    border-radius: 40px;
    font-size: 17px;
    cursor: pointer;
    transition: .3s;

}

.cta-btn-outline:hover {

    background: white;
    color: #111;

}

@media(max-width:900px) {

    .cta {

        padding: 70px 0;

    }

    .cta-container {

        flex-direction: column;
        text-align: center;

    }

    .cta-left h2 {

        font-size: 42px;

    }

    .cta-left p {

        max-width: 100%;

    }

    .cta-right {

        width: 100%;

    }

    .cta-btn,
    .cta-btn-outline {

        width: 100%;

    }

}

/* ================= CTA RESPONSIVE ================= */

@media (max-width:768px) {

    .cta {
        padding: 50px 0;
        margin-top: 50px;
    }

    .cta-container {
        width: 95%;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .cta-left h2 {
        font-size: 32px;
        line-height: 1.3;
    }

    .cta-left p {
        font-size: 16px;
        line-height: 1.7;
        max-width: 100%;
    }

    .cta-right {
        width: 100%;
    }

    .cta-btn,
    .cta-btn-outline {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }

}