.hero {
    position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .15);
}

.hero-content {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 5;
}

.hero-content h1 {
    color: #fff;
    font-family: Georgia, serif;
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 28px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .35);
}

.thumb-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.thumb {
    width: 115px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    border: 3px solid transparent;
    opacity: .9;
}

.thumb.active {
    border-color: #fff;
}


.circle-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: #d9ad26;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.circle-btn:hover {
    background: #c79a16;
}

.wishlist {
    position: absolute;
    right: 70px;
    bottom: 58px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background: #fff;
    font-size: 24px;
    cursor: pointer;
}

.hero-bottom {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 18px;
    background: #fff;
    border-top-left-radius: 100% 10px;
    border-top-right-radius: 100% 10px;
}