.navbar-tabs {

    width: 100%;
    background: #fff;
    padding: 35px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .06);

}

section {
    padding: 70px 0;
}

.tabs-container {
    width: fit-content;
    margin: auto;
    padding: 8px;
    background: #f3efe8;
    border-radius: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tab {
    border: none;
    background: transparent;
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    transition: .3s;
}

.tab:hover {
    background: rgba(0, 0, 0, .06);
    color: #111;
}

.active-tab {
    background: #111;
    color: #fff;
    box-shadow: none;
}

.menu-btn {
    display: none;
}

@media (max-width:768px) {


    .navbar-tabs {
        display: flex;
        flex-direction: column;
    }

    .menu-btn {
        display: block;
        margin-left: auto;
        background: #111;
        color: #fff;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 26px;
        cursor: pointer;
    }

    .tabs-container {
        display: none;
        flex-direction: column;
        width: 100%;
        border-radius: 12px;
        padding: 10px;
    }

    .tabs-container.show {
        display: flex;
    }

    .tab {
        width: 100%;
        text-align: left;
    }

}